{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-center">
  <h1>This page is: {{first}}</h1>
  <h3>This is under maintenance</h3>
</div>
  <div class="container">
    <div class="row">
      <div class="col">
          <img src="{%static 'img/chaitu.jpg'%}" class="img-fluid" alt="notfoundchaitu">
          <p>{{matter}}</p>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="row">
        <div class="col">
        <h1>Premium</h1>
        <p>{{premiumcontent}}</p>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
