{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
  <h1>This page is: {{first}}</h1>
  <h3>This is under maintenance</h3>
</div>
  <div class="container">
    <div class="row">
      <div class="col">
          <p>{{matter}}</p>
          <div class="col-sm-6 col-12">
            <form method="POST">
              {%csrf_token%}
              {{form}}
      <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

  
